<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd
               http://www.springframework.org/schema/context
               http://www.springframework.org/schema/context/spring-context.xsd
               http://www.springframework.org/schema/mvc
               http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--扫描控制器所在的包-->
    <context:component-scan base-package="com.intouch.ssm.controller"/>

    <!--声明注解请求-->
    <mvc:annotation-driven/>
    <!--声明静态资源请求-->
    <mvc:resources mapping="/css/**" location="/css/"/>
    <mvc:resources mapping="/js/**" location="/js/"/>
    <mvc:resources mapping="/images/**" location="/images/"/>
    <mvc:resources mapping="/*.html" location="/"/>

    <!--注册jsp视图解析器-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

<!--    <bean id="viewResolver1" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">-->
<!--    		<property name="prefix" value="/WEB-INF/jsp/"/>-->
<!--    		<property name="suffix" value=".html"/>-->
<!--    		<property name="contentType" value="text/html;charset=UTF-8"></property>-->
<!--    </bean>-->
    <!--文件上传和下载解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="104857600"/><!--设置上传文件的最大规模:100多兆-->
        <property name="maxInMemorySize" value="4096"/><!--设置缓存-->
        <property name="defaultEncoding" value="utf-8"/><!--设置上传文件的编码-->
    </bean>

    <!--解析properties文件的对象-->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource"
       p:basename="classpath:errorMessage"/>
    <!-- 视图解析转html -->

    <bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
        <property name="exposeRequestAttributes" value="true" />
        <property name="exposeSessionAttributes" value="true" />
        <property name="viewClass">
            <value>org.springframework.web.servlet.view.freemarker.FreeMarkerView</value>
        </property>
        <property name="cache"><value>true</value></property>
        <property name="suffix"><value>.html</value></property>
        <property name="contentType">
            <value>text/html; charset=UTF-8</value>
        </property>
    </bean>
</beans>